@font-face{
    font-family: 'Roboto', sans-serif;
    src: url('/assets/fonts/Roboto-Regular.ttf'), url('/assets/fonts/Roboto-Bold.ttf');
}

html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgb(233, 233, 233);
}

/****HEADER****/
/****HEADER****/
/****HEADER****/
/****HEADER****/
/****HEADER****/
/****HEADER****/
/****HEADER****/

#header{
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #1d5ea2;
}

#topHeaderBar{
    height: 100px;
    background-color: #8ac4d2;
    /* border-bottom: 3px solid #1d5ea2; */
    display: flex;
    align-items: center;
    margin-bottom: 0.41%;
    border-bottom: 3px solid #1d5ea2;
}

#topHeaderBarLogo{
    width: 30%;
    margin-left: 1%;
}

#navBar{
    background-color: #ffcc48;
    display: flex;
    flex-direction: column;
    height: 25px;
    justify-content: space-around;
    border-bottom: 3px solid #1d5ea2;
}

#ulNavBar{
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 100%;
    background-color: #ffcc48;
    color: #1d5ea2;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#ulNavBar a{
    color: #1d5ea2;
    text-decoration: none;
}

#ulNavBar a:hover{
    color: #174577;
    text-shadow: #174577 1px 0 1px;
}

#plateLogo{
    position: absolute;
    top: -3%;
    width: 15%;
}

#menu-smoll{
    display: none;
}

/****HEADER****/
/****HEADER****/
/****HEADER****/
/****HEADER****/
/****HEADER****/
/****HEADER****/
/****HEADER****/

/****INDEX MAIN****/
/****INDEX MAIN****/
/****INDEX MAIN****/
/****INDEX MAIN****/
/****INDEX MAIN****/
/****INDEX MAIN****/
/****INDEX MAIN****/


#indexMain{
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}

#card-index-own-style{
    border: 2px solid black;
}

#card-index-own-style2{
    border: 2px solid black;
}

#section-index-news{
    display: flex;
    justify-content: space-evenly;
}

#card-index-own-style3{
    border: 2px solid black;
    margin-right: 1%;
    display: none;
}

#card-index-own-style4med{
    border: 2px solid black;
    /* margin: 0% 10% 0% 10%; */
}

#section-news-menu-index{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
}

#news-menu-index{
    width: 100%;
}

#news-menu-index2{
    width: 100%;
}

#cards-top{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3%;
}

#cards-top-mobile{
    display: none;
}

/****INDEX MAIN****/
/****INDEX MAIN****/
/****INDEX MAIN****/
/****INDEX MAIN****/
/****INDEX MAIN****/
/****INDEX MAIN****/
/****INDEX MAIN****/

/****FOOTER****/
/****FOOTER****/
/****FOOTER****/
/****FOOTER****/
/****FOOTER****/
/****FOOTER****/
/****FOOTER****/

footer{
    width: 100%;
    background-color: #8ac4d2;
    height: auto;
}

#footerBar{
    height: auto;
    background-color: #8ac4d2;
    border-top: 3px solid #1d5ea2;
    display: flex;
    align-items: center;
}

#ulNavBarFooter{
    justify-content: space-around;
    list-style: none;
    height: 100%;
    color: #1d5ea2;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#ulNavBarFooter a{
    color: #1d5ea2;
    text-decoration: none;
}

#ulNavBarFooter a:hover{
    color: #174577;
    text-shadow: #174577 1px 0 1px;
}

#plateLogoFooter{
    width: 10%;
}


/****FOOTER****/
/****FOOTER****/
/****FOOTER****/
/****FOOTER****/
/****FOOTER****/
/****FOOTER****/
/****FOOTER****/
